<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'prueba' %}" method="get">
        <textarea name="post"></textarea>
        <input type="date" name="fechaNac" placeholder="  Fecha de nacimiento">
        <button type="submit">Enviar solicitud</button><br>
    </form>
    {% for x in ct %}
        <p>{{ x }}</p>
    {% endfor %}
</body>
</html>