header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal con el espacio sobrante entre ellos */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: #95197D; /* Color de fondo del header */
    color: #fff; /* Color del texto del header */
    padding: 10px; /* Espacio de relleno dentro del header */
    border-radius: 15px;
}

.button-h{
    background-color: #C393BC;
    color: black;
    border-radius: 7px;
    border: none; 
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 10px;
}

.left-content, .right-content {
    display: flex; /* Activa flexbox para los contenedores internos */
    align-items: center; 
}

.right-content {
    margin-left: auto; /* Mueve este contenedor a la derecha tanto como sea posible */
}